virtualenv

ipython[zmq,qtconsole,notebook,test]
ipdb

black
pylint
pep8
autopep8
flake8
flake8-builtins
flake8-docstrings
flake8-quotes
pyflakes
autoflake
isort
mypy

Jinja2
Pygments
requests
scapy

# aws-shell
